name: Dev.to Publish
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org'
    - run: npm install -g axios
    - run: node dev-to.js
      env:
        DEV_TOKEN: ${{ secrets.DEV_TO }}
